<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="row well">
      <div class="col-md-3">
        <img ng-src="{{view.singleMovie.Poster}}" alt="" width="200px;">
      </div>
      <div class="col-md-9">
        <h1>{{view.singleMovie.Title}}</h1>
        {{view.singleMovie.Actors}}
        {{view.singleMovie.Description}}
        Additional Details
        <h4>Awards</h4>
        {{view.singleMovie.Awards}}
        <h4>Country</h4>
        {{view.singleMovie.Country}}
        <h4>Director</h4>
        {{view.singleMovie.Director}}
        <h4>Genre</h4>
        {{view.singleMovie.Genre}}
        <h4>Language</h4>
        {{view.singleMovie.Language}}
        <h4>Metascore</h4>
        {{view.singleMovie.Metascore}}
        <h4>Rated</h4>
        {{view.singleMovie.Rated}}
        <h4>Released</h4>
        {{view.singleMovie.Released}}
        <h4>Runtime</h4>
        {{view.singleMovie.Runtime}}
        <h4>Writer</h4>
        {{view.singleMovie.Writer}}
        <h4>Year</h4>
        {{view.singleMovie.Year}}
        <h4>IMDB Rating</h4>
        {{view.singleMovie.imdbRating}}
      </div>
    </div>
  </div>
</div>
